<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
s="assignment"
c=0
for i in s:
    c+=1
print(c)

10

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
s='google.com'
d={}
for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
l=[1,4,7,9]
c=0
for i in l:
    c+=i
print(c)

21

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
s='restart'
s1=s[0]+s[1:].replace(s[0],"$")
print(s1)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
a=2
b=3
s=3.14*((1+a/b)**3)
print(s)

14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
t=("s","y","i","o","r")
if "i" in t:
    print("True")
else:
    print("False")

True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
set={2,5,7,8,3}
print("Maximum:",max(set))
print("Minimum:",min(set))

Maximum: 8
Minimum: 2

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
l=[]
n=5
for i in range(0,len(student_list),n):
  l.append(student_list[i:i+n])
print(l)

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'], ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'], ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458'], ['sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640'], ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500'], ['aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
l=[2,5,8,6,4,18,36]
if len(set(l)) == len(l):
  print(-1)
else:
  for i in set(l):
    if l.count(i) > 1:
      print(i)

-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
from datetime import date
import calendar
Yr= 2001
x=calendar.TextCalendar(calendar.SUNDAY)
for i in range(1,13):
    for j in x.itermonthdays(Yr,i):
        if j!=0:
            day=date(Yr,i,j)
            if day.weekday()==6:
                print("%d-%d-%d" % (j,i,Year))

7-1-2001
14-1-2001
21-1-2001
28-1-2001
4-2-2001
11-2-2001
18-2-2001
25-2-2001
4-3-2001
11-3-2001
18-3-2001
25-3-2001
1-4-2001
8-4-2001
15-4-2001
22-4-2001
29-4-2001
6-5-2001
13-5-2001
20-5-2001
27-5-2001
3-6-2001
10-6-2001
17-6-2001
24-6-2001
1-7-2001
8-7-2001
15-7-2001
22-7-2001
29-7-2001
5-8-2001
12-8-2001
19-8-2001
26-8-2001
2-9-2001
9-9-2001
16-9-2001
23-9-2001
30-9-2001
7-10-2001
14-10-2001
21-10-2001
28-10-2001
4-11-2001
11-11-2001
18-11-2001
25-11-2001
2-12-2001
9-12-2001
16-12-2001
23-12-2001
30-12-2001