<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
import random
l=[]
for i in range(12):
  l.append(random.randint(1,100))
print(l)
l.sort()
print("Ascending order:",l)
l.sort(reverse=True)
print("Descending order:",l)
print("Average is",sum(l)/len(l))

[9, 64, 48, 99, 41, 45, 32, 79, 45, 50, 21, 87]
Ascending order: [9, 21, 32, 41, 45, 45, 48, 50, 64, 79, 87, 99]
Descending order: [99, 87, 79, 64, 50, 48, 45, 45, 41, 32, 21, 9]
Average is 51.666666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
s1="Hi, how are you doing"
s2="Alas! I am doing great"
print(s1)
print(s2)
l1=s1.split(" ")
l2=s2.split(" ")
print(l1)
print(l2)
for i in l1:
  if i in l2:
    print(i)
p_list=[".",",",":",";","?","!"]
for i in s1:
  if i in p_list:
    s1=s1.replace(i,"")
print(s1)
for i in s2:
  if i in p_list:
    s2=s2.replace(i,"")
print(s2)
d1={}
d2={}
vowels=["a","e","i","o","u"]
for i in s1:
  if i in vowels:
    d1[i]=s1.count(i)
print(d1)
for i in s2:
  if i in vowels:
    d2[i]=s2.count(i)
print(d2)

Hi, how are you doing
Alas! I am doing great
['Hi,', 'how', 'are', 'you', 'doing']
['Alas!', 'I', 'am', 'doing', 'great']
doing
Hi how are you doing
Alas I am doing great
{'i': 2, 'o': 3, 'a': 1, 'e': 1, 'u': 1}
{'a': 3, 'o': 1, 'i': 1, 'e': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
pi=3.14
r=random.randint(1,10)
print(r)
v=(4/3)*pi*(r**3)
print("Volume is:",v)

8
Volume is: 2143.5733333333333

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path='/content/drive/My Drive/Assignment1_denton_housing.csv'

Mounted at /content/drive

In [ ]:
import pandas as pd
from collections import Counter
data = pd.read_csv(path)

1)

In [ ]:
house_dict={}
for j in sorted(list(set(data['year'])))[:-1]:
  prev_year = 0
  next_year = 0
  for col, row in data.iterrows():
    if row['year'] == j and row['title_field'] == 'Occupied Housing Units':
      prev_year += row['value']
    if row['year'] == j+1 and row['title_field'] == 'Occupied Housing Units':
      next_year += row['value']
  house_dict[str(j)+'-'+str(j+1)] = abs(prev_year - next_year)

In [ ]:
sorted_list=sorted(house_dict.values())
sorted_dict={}
for i in sorted_list:
  for k in house_dict.keys():
    if(house_dict[k]==i):
      sorted_dict[k]=house_dict[k]
for key,value in sorted_dict.items():
  print(key,":",value)

2010-2011 : 303
2008-2009 : 795
2011-2012 : 1404
2012-2013 : 1565
2013-2014 : 2622
2009-2010 : 5091

2)

In [ ]:
for j in sorted(list(set(data['year']))):
  total_house = 0
  occupied = 0
  vacant = 0
  year = 0
  for col, row in data.iterrows():
    if row['year'] == j and row['title_field'] == 'Total Housing Units' :
      year = row['year']
      total_house = row['value']
    if row['year'] == j and  row['title_field'] == 'Occupied Housing Units' :
      occupied = row['value']
    if row['year'] == j and  row['title_field'] == 'Vacant Housing Units' :
      vacant = row['value']
  percent_occupied = int((occupied / total_house) * 100)
  percent_vacant = int((vacant / total_house) * 100)
  print(year," ",str(percent_vacant)+'%'," ",str(percent_occupied)+'%')

2008   10%   89%
2009   9%   90%
2010   8%   91%
2011   9%   90%
2012   6%   93%
2013   8%   91%
2014   5%   94%

3)

In [ ]:
n_maximum=0
vacant_maximum=0
n_year=0
vacant_year=0
for j in sorted(list(set(data['year']))):
 for col,row in data.iterrows():
    if row['year'] == j and  row['title_field'] == 'Occupied Housing Units' :
      if row['value']>n_maximum:
        n_maximum=row['value']
        n_year=row['year']
    if row['year'] == j and  row['title_field'] == 'Vacant Housing Units' :
      if row['value']>vacant_maximum:
        vacant_maximum=row['value']
        vacant_year=row['year']
print('                       ', 'year',   'value')
print('Occupied Housing Units ' , n_year,   n_maximum)
print('Vacant Housing Units   ' ,  vacant_year , vacant_maximum)

                        year value
Occupied Housing Units  2014 46295
Vacant Housing Units    2008 4483

4)

In [ ]:
total_housing = list()
for col, row in data.iterrows():
  if row['title_field'] == 'Total Housing Units':
    total_housing.append(row['value'])

In [ ]:
total = len(total_housing)
d_v = 0
for i in total_housing:
  d_v += (1/i)
print(total/d_v)

44398.28543969185