## The second In-class-exercise (02/07/2023, 40 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [3]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:
Movies rely on lot on opinions and understanding the particular features helps to understand the result of the movie.
I am selecting the movie ratings. I has collected review and rating.
Beautifulsoap library is used for extracting data.
Class is used to extract data and data is stores in list and converted into dataframe.





'''

'\nPlease write you answer here:\nMovies rely on lot on opinions and understanding the particular features helps to understand the result of the movie.\nI am selecting the movie ratings. I has collected review and rating.\nBeautifulsoap library is used for extracting data.\nClass is used to extract data and data is stores in list and converted into dataframe.\n\n\n\n\n\n'

Question 2 (10 points): Write python code to collect 1000 data samples you discussed above.

In [5]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
def data_extraction(URL):
    r = requests.get(URL)
    html = r.content
    p=bs(html,'html.parser')
    h=p.find_all('li',attrs={"itemprop":"distribution"})
    name_list=[]
    url=[]
    name=URL.split("/")[-1]
    for i in h:
        p=i.find('a')
        url.append(p['href'])#stroing different format links
        g=i.find('span')
        name_list.append(g.text)#stroing format type
    
    for num in range(len(name_list)):
        url_m="https://catalog.data.gov/"
        r1 = requests.get(url_m+url[num], allow_redirects=True)
        html1=r1.content
        p1=bs(html1,'html.parser')
        h2=p1.find_all('a',attrs={'id':'res_url'})
        for j in h2:
            down=j['href'] # extracting API for different formats
            extension=name_list[num]
            final = requests.get(down, allow_redirects=True)
            with open("movie.csv", 'wb') as f:
                      f.write(final.content) # writig different format files 
data_extraction("https://catalog.data.gov/dataset/theaters")

df = pd.read_csv('movie.csv')
df

,the_geom,NAME,TEL,URL,ADDRESS1,ADDRES2,CITY,ZIP
0,POINT (-73.99061840882582 40.75985115447559),45th Street Theater,(212) 352-3101,http://www.theatermania.com/new-york/theaters/...,354 West 45th Street,NaN,New York,10036
1,POINT (-73.9881059525377 40.76047123447081),47th Street Theater,(800) 775-1617,http://www.bestofoffbroadway.com/theaters/47st...,304 West 47th Street,NaN,New York,10036
2,POINT (-73.97038450260143 40.76339942774153),59E59,(212) 753-5959,http://www.59e59.org/,59 East 59th Street,NaN,New York,10022
3,POINT (-73.99332384622063 40.7585366821068),Acorn Theater,(212) 279-4200,http://www.theatrerow.org/theacorn.htm,410 West 42nd Street,NaN,New York,10036
4,POINT (-73.9892143340222 40.75926091219353),Al Hirschfeld Theater,(212) 239-6200,http://www.newyorkcitytheatre.com/theaters/alh...,302 W 45th Street,NaN,New York,10036
...,...,...,...,...,...,...,...,...
112,POINT (-73.99255324047746 40.759527416110735),Westside Theater,(212) 315-2244,http://www.westsidetheatre.com/,407 W 43rd St,NaN,New York,10036
113,POINT (-74.0088925664614 40.73239903762212),Wings Theatre,(212) 627-2960,http://www.wingstheatre.com/,154 Christopher St,Bsmt,New York,10014
114,POINT (-73.98348163057112 40.761524646280805),Winter Garden Theatre,(212) 944-3700,http://www.shubertorganization.com/theatres/wi...,1634 Broadway,NaN,New York,10019
115,POINT (-73.96997885915609 40.758357229201536),York Theatre,(212) 935-5820,http://www.yorktheatre.org/,619 Lexington Ave,NaN,New York,10022
116,POINT (-73.9688248050205 40.78017563530363),Delacorte Theater,(212) 861-7277,http://www.centralpark.com/pages/attractions/d...,Central Park - Mid-Park at 80th Street,SW corner of the Great Lawn,New York,0

Question 3 (10 points): Write python code to collect 1000 articles from Google Scholar (https://scholar.google.com/), Microsoft Academic (https://academic.microsoft.com/home), or CiteSeerX (https://citeseerx.ist.psu.edu/index), or Semantic Scholar (https://www.semanticscholar.org/), or ACM Digital Libraries (https://dl.acm.org/) with the keyword "information retrieval". The articles should be published in the last 10 years (2012-2022).

The following information of the article needs to be collected:

(1) Title

(2) Venue/journal/conference being published

(3) Year

(4) Authors

(5) Abstract

In [2]:
#Scraping the different article data from the API provided by the sematic scholar

#Importing the required modules.
import requests
import json

#Creating the variable topic with the value as the keyword we need to search for in the semantic scholar articles.
topic = 'cars'
#Storing the URL variable with dynamic query keywod you need to search for and the different queryparameters.
#To understand the queryparams, headers etc to hit the api in a correct way, check the following url. 
#https://api.semanticscholar.org/api-docs/graph

# Meanwhile, through an API (Application Programming Interface), one can gain access to the data of an application or operating system. 
# Therefore, APIs depend on the owner of the said dataset. The data can be either offered for free or be available at a cost. 
# The owner can also limit the number of requests that a single user can make or the amount of data they can access.
url = "https://api.semanticscholar.org/graph/v1/paper/search?query="+ topic + "&offset=100&limit=3&fields=url,title,abstract,authors"

#Creating the empty payload and headers dictionary, as we are simply using the GET API here. Check the documentation.
payload={}
headers = {}

# Hitting the GET api using the request module, with "GET" method as the API method, URL with the dynamic URL created in the previous step, headers and payload.
response = requests.request("GET", url, headers=headers, data=payload)

#Just printing the response text from the above hit.
print(response.text)

#As the data we received is text, we need to convert them into the json using the json.loads fucntion.
#This conversion is possible as the text we received from GET method contains the formatted json data converted to string.
data = json.loads(response.text)['data']
#Created the pandas dataframe object using the json data we generated in previous step.
df = pd.DataFrame(data)
df.head()

{"total": 3791283, "offset": 100, "next": 103, "data": [{"paperId": "29abf18421477c2f0b9827d2be026a51285707a6", "url": "https://www.semanticscholar.org/paper/29abf18421477c2f0b9827d2be026a51285707a6", "title": "Sir Isaac Newton, sepsis, SIRS, and CARS.", "abstract": null, "authors": [{"authorId": "1965954867", "name": "R. Bone"}]}, {"paperId": "444a252270be53f88aab401825e248f2ab94b5c2", "url": "https://www.semanticscholar.org/paper/444a252270be53f88aab401825e248f2ab94b5c2", "title": "A SIFT-SVM method for detecting cars in UAV images", "abstract": "In the last years, the advent of unmanned aerial vehicles (UAVs) for civilian remote sensing purposes has generated a lot of interest because of the various new applications they can offer. One of them is represented by the automatic detection and counting of cars. In this paper, we propose a novel car detection method. It starts with a feature extraction process based on scalar invariant feature transform (SIFT) thanks to which a set of keypoints is identified in the considered image and opportunely described. Successively, the process discriminates between keypoints assigned to cars and those associated with all remaining objects by means of a support vector machine (SVM) classifier. Experimental results have been conducted on a real UAV scene. They show how the proposed method allows providing interesting detection performances.", "authors": [{"authorId": "2115861", "name": "Thomas Moranduzzo"}, {"authorId": "1774633", "name": "F. Melgani"}]}, {"paperId": "dd4b49b37f245069eca644754b563e7ce5bfe297", "url": "https://www.semanticscholar.org/paper/dd4b49b37f245069eca644754b563e7ce5bfe297", "title": "Catalytic control of emissions from cars", "abstract": null, "authors": [{"authorId": "14626284", "name": "M. Twigg"}]}]}

,paperId,url,title,abstract,authors
0,29abf18421477c2f0b9827d2be026a51285707a6,https://www.semanticscholar.org/paper/29abf184...,"Sir Isaac Newton, sepsis, SIRS, and CARS.",None,"[{'authorId': '1965954867', 'name': 'R. Bone'}]"
1,444a252270be53f88aab401825e248f2ab94b5c2,https://www.semanticscholar.org/paper/444a2522...,A SIFT-SVM method for detecting cars in UAV im...,"In the last years, the advent of unmanned aeri...","[{'authorId': '2115861', 'name': 'Thomas Moran..."
2,dd4b49b37f245069eca644754b563e7ce5bfe297,https://www.semanticscholar.org/paper/dd4b49b3...,Catalytic control of emissions from cars,None,"[{'authorId': '14626284', 'name': 'M. Twigg'}]"

Question 4 (10 points): Write python code to collect 1000 posts from Twitter, or Facebook, or Instagram. You can either use hashtags, keywords, user_name, user_id, or other information to collect the data. 

The following information needs to be collected:

(1) User_name

(2) Posted time

(3) Text

In [1]:
# You code here (Please add comments in the code):

import pandas as pd
import numpy as np
import tweepy
from tweepy import OAuthHandler
import requests
import json

# Consumer key is the API key that a service provider (Twitter, Facebook, etc.) issues to a consumer (a service that wants to access a user's resources on the service provider). 
# This key is what identifies the consumer.
# Consumer secret is the consumer "password" that is used, along with the consumer key, to request access (i.e. authorization) to a user's resources from a service provider.
# Access token is what is issued to the consumer by the service provider once the consumer completes authorization. 
# This token defines the access privileges of the consumer over a particular user's resources. 
# Each time the consumer wants to access the user's data from that service provider, the consumer includes the access token in the API request to the service provider.

consumer_key ="2Em7SxlX9jPMfL4x97r3zMO0x"
consumer_secret = "sVbJzekKuiAgq83Y7gCwNVbSowqQokGVzWexKHl2cXIPceWtSd"
access_token ="1439767876962029572-uUMt8oWRyzj9ilE5zk4uYbL93sCMPT"
access_token_secret = "oydIGymn9bS767FVEMawE9GyGAnMmBJfaY2XXKmHnmliF"

# OAuth is an open standard for access delegation, commonly used as a way for internet users to grant websites or applications 
# access to their information on other websites but without giving them the passwords.

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

"""
Every day many thousands of developers make requests to the Twitter API. To help manage the sheer volume of these requests, limits are placed on the number of requests that can be made. 
These limits help us provide the reliable and scalable API that our developer community relies on. 
The maximum number of requests that are allowed is based on a time interval, some specified period or window of time. 
The most common request limit interval is fifteen minutes. 
If an endpoint has a rate limit of 900 requests/15-minutes, then up to 900 requests over any 15-minute interval is allowed. 
"""

api_auth = tweepy.API(auth,wait_on_rate_limit=True)
user_name =str(input("Enter the user name\n"))

"""
In order to perform pagination we must supply a page/cursor parameter with each of our requests.
To help make pagination easier and require less code Tweepy has the Cursor object.
"""

twe = tweepy.Cursor(api_auth.user_timeline, id=user_name).items(1000)

tweets_df = [[user_name ,tweet.created_at, tweet.text] for tweet in twe]

tweet = pd.DataFrame(tweets_df)
tweet.columns=['user_name','posted time','text']
tweet

Enter the user name
cristiano

,user_name,posted time,text
0,cristiano,2023-02-12 11:04:06,Huge congratulations to @AlNassrFC_EN women‚Äôs ...
1,cristiano,2023-02-11 19:54:13,RT @nikefootball: @NikeFootball x @Cristiano \...
2,cristiano,2023-02-09 21:35:59,Great feeling to have scored 4 goals and reach...
3,cristiano,2023-02-03 20:09:40,Happy to have scored my first goal in the Saud...
4,cristiano,2023-02-02 15:39:59,Good luck tomorrow!üí™üèº\nüíõüíô https://t.co/FL6S0z8Dse
...,...,...,...
995,cristiano,2017-06-29 17:09:37,So happy to be able to hold the two new loves ...
996,cristiano,2017-06-27 10:15:46,ready for tomorrowüáµüáπüëåüëç https://t.co/0BWVkEZxOY
997,cristiano,2017-06-26 18:10:51,Recover stronger with a combination of carbs a...
998,cristiano,2017-06-26 11:40:21,Gaming experience of nubia Z17 is amazing. htt...
999,cristiano,2017-06-26 09:59:10,Focusedüëåüáµüáπ https://t.co/3cotEeRtXv